
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Game Collector</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}

    <h1>About the Game Collector</h1>
    <hr />
    <h2>The Game Gollect is a personalized app that allows you store, track and modiffy your game collection and accessories.</h2>
    <p>Hire the Game Collector!</p>
    <p>(He's pretty dope...)</p>
    
    {% endblock %}
</body>
</html>